.boxBanner {
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  height: 560px;
  display: flex;
  align-items: center;
  cursor: default;
  h2 {
    color: #fff;
    margin-left: 150px;
    font-size: 32px;
    width: 350px;
  }
}

.boxDoar {
  div {
    padding: 60px 0px 60px 90px;
    display: flex;
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: lighter;
      color: #015695;
    }
  }
}

.boxCardDoar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 0px 180px 0px;
  flex-wrap: wrap;
  article {
    width: 286px;
    height: 321px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #b3cddf;
    border-radius: 10px;
    cursor: default;
    p {
      text-align: center;
      font-size: 21px;
    }
  }
}

@media (max-width: 820px) {
  .boxBanner {
    transition: 0.7s ease;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 450px) {
  .boxBanner {
    justify-content: center;
    text-align: center;
    h2 {
      margin-left: 0px;
      width: 400px;
      padding: 12px;
    }
  }
  .boxDoar {
    text-align: center;
    div {
      padding: 40px;
    }
  }
}

@media (max-width: 380px) {
  .boxDoar {
    text-align: center;
    div {
      padding: 20px;
    }
  }
}

@media (max-width: 210px) {
  .boxCardDoar {
    article {
      p {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 180px) {
  .boxBanner {
    h2 {
      font-size: 24px;
    }
  }
}
