header {
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #011c30 0%, #015695 88%);
  padding: 20px;
}

.boxLogo {
  width: 370px;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 6px;
  font-size: 16px;
  justify-content: space-evenly;
  img {
    width: 60px;
    margin-bottom: 20px;
  }
  cursor: default;
}

.boxMenu {
  width: 420px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #fff;
      font-size: 20px;
    }
  }
}

.boxBusca {
  border: solid 2px #fff;
  width: 240px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  input {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    &::placeholder {
      color: #fff;
      transition: color 0.4s ease;
    }
    &:hover {
      &::placeholder {
        color: transparent;
      }
    }
    margin-bottom: 2px;
    text-align: center;
  }
  img {
    width: 18px;
    margin-bottom: 2px;
  }
}

@media (max-width: 1150px) {
  header {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
  .boxMenu {
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  header {
    padding-bottom: 0px;
  }
  .boxBusca {
    display: none;
  }
}

@media (max-width: 450px) {
  .boxLogo {
    flex-direction: column;
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
    }
    text-align: center;
    width: 100%;
  }
  .boxMenu {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}

@media (max-width: 280px) {
  .boxLogo {
    margin-bottom: 0;
    h1 {
      display: none;
    }
  }
}

@media (max-width: 180px) {
  .boxMenu {
    text-align: center;
  }
}
